<!DOCTYPE html>
<html>

<head>
  <%-include('head') %>
</head>

<body>
  <%-include('navbar') %>
  <div class="container">
    <div>
      <img src="/images/1E3E1CB8-92B8-4876-9ACC-459DE0A8CE1F.JPG" alt="" width="100%">
    </div>
    
    <img src="/images/939BF1C0-9F9A-46B2-B4A3-FA04BA88525D 2.JPG" alt="" width="100%">
    <img src="/images/B7A42FBB-79F9-4237-B6B3-ADF13A9059FC.JPG" alt="" width="100%">
  </div>
</body>

</html>